@CHARSET "UTF-8";

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

body {
	font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #f5f5f5;
}

.tensor-table {
	display: table;
	width: auto;
	background-color: #eee;
	border: 1px solid #666666;
	border-spacing: 5px;
	/*cellspacing:poor IE support for  this*/
	/* border-collapse:separate;*/
}

.tensor-rpw {
	display: table-row;
	width: auto;
}

.tensor-cell {
	float: left; /*fix for buggy browsers*/
	display: table-column;
	width: 200px;
	background-color: #ccc;
}

.vertical-text {
	transform: translate(-2em) rotate(-90deg);
}

.component {
	padding-left: 0.2em;
	padding-bottom: 0.2em;
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	margin-bottom: 4px;
}