
#USmap{
position:absolute;
width:55%;
height:100%;
}

#Linechart{
position:absolute;
width:45%;
height:100%;
background-color:none;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

.state {
  fill: #aaa;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.xAxis
.yAxis{stroke: #fff;}

svg {
  font: 10px sans-serif;
}
 
.line ,
 y.axis path,
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}


.grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
.grid path {
          stroke-width: 0;
}

.wor {
  fill:none;
  stroke-width:1px;
  stroke-opacity: 0.8;
  stroke:red;
}

.forecast {
  fill:none;
  stroke-width:1px;
  stroke-opacity: 0.8;
  stroke:green;
}

.oil_mo{
stroke-width:1.2px;
stroke:green;
fill:none
}

.water_mo{
fill:none;
stroke-width:1px;
stroke-opacity: 0.8;
stroke:DodgerBlue ;

}

div.tooltip {	
    position: absolute;			
    text-align: center;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

#recenter{
width:30px;
height:28px;
position:absolute;
left:950px;
top:100px;
border:1
}

#api_search {
position:absolute;
left:70px;
}
